@model RsMotores.WEB.Models.Usuario



<div class="text-center">
    <h1 style= "color:@ViewBag.Color">@ViewBag.Msg</h1>
    <p>Bem vindo @Model.nome</p>
    <a asp-controller="Login" asp-action="Token">Voltar ao início</a>
</div>
<script>
    Swal.fire({
        icon: '@ViewBag.Icon',
        title: '@ViewBag.Title',
        text: '@ViewBag.Msg'
    })
</script>